/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* Root colors */
:root {
    --mainColor: #fcf7e6;
    --color1: #7f5539;
    --color2: #CCD5AE;
    --color3: #6b705c;
    --color4: #3f4238;
    --color5: #10352f;
    --color6: #164a42;
    --color7: #1d5f55;
    --color8: #d37892;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(253deg, var(--mainColor), #fffafe);
 
    color: var(--color4); 
}

/* Header styles */
nav#header {
    background-color: var(--color8); 
    color: var(--mainColor);
    text-align: center;
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*back to home button*/
#backToHome{
    font-size: 16px;
    padding: 12px 10px;
    background-color: var(--color1);
    border: 1px solid var(--color1);
    color: white;
    border-radius: 6px;
    margin: 10px;
    transition-duration: .5s;
}
#backToHome:hover{
    transform: translateX(-5px);
}
/* Main container */
main#favDiv {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Item container */
.item {
    display: flex; 
    margin: 15px 0;
    border-bottom: 1px solid var(--color2);
    padding-bottom: 15px;
}

.item:last-child {
    border-bottom: none; 
}


#imgDiv {
    flex: 1; 
    max-width: 150px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgDiv img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Item information */
#itemInfo {
    margin: auto;
    flex: 2; /* Take up 2/3 of the width */
}

#itemInfo h2#title {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color3); /* Slightly muted green */
}

#itemInfo p#author {
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--color6); /* Medium green */
}

#itemInfo p#description {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--color4); /* Darker text */
}

#itemInfo h3#price {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color1); /* Highlighted brown */
}

#itemInfo button#goToItem,#itemInfo button#addPaymentMethod {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--color8); /* Deep green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity .5s;
}
button{
    margin-right: 5px;
}
#itemInfo button#goToItem:hover,#itemInfo button#addPaymentMethod:hover {
    background-color: var(--color8); 
    opacity: .8;
}

/* Responsive design */
@media (max-width: 768px) {
    .item {
        flex-direction: column; 
        align-items: center;
    }

    #imgDiv {
        max-width: 100%; 
        margin-bottom: 15px;
    }

    #itemInfo {
        text-align: center; 
    }
}
